@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Otomanopee+One&display=swap");

.bodycontainer{
  display: flex;
}

.headmain {
  display: flex;
  width:50%;
  height:auto;
  margin-left: 2%;
  padding-left: 2%;
  margin-top: -40%;
  font-family: "Otomanopee One";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  color: #ffffff;
}
.para{
  width:45%;
  height: auto;
  margin-top: 0%;
  margin-left: 2%;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 137.4%;
color: #FFFFFF;
}
.button{
display: flex;
width: 30%;
padding-left: 5%;
}

.explore{

  text-transform: none;
border: 2px solid #FFFFFF;
border-radius: 5px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;

color: #FFFFFF;
}
.explore:hover{
   cursor: pointer;
   border: 2px solid #FFFFFF;
}
.create{
  text-transform: none;
background: #232323;
border: 0px;
border-radius: 5px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;

color: #FFFFFF;
}
.create:hover{
  cursor: pointer;
  border: 2px solid #FFFFFF;
border-radius: 5px;
font-size: 22px;
}
.toplogo {
 width: 50%;
 height: auto;
  background: url(../images/logo.png);
}
.homelogo {
  position: relative;
  display: flex;
  flex-basis: 35%;
  padding: 20px;
width: 40%;
height:auto;
margin-left:60%;
margin-top: 10%;
}
.containermain{
  color: #FFFFFF;
}
.achivement1cont{
  display: flex;
  padding-top: 5%;
  padding-left: 5%;
}
.achivement1 {
width: 15%;
position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 108.4%;
  letter-spacing: 0.02em;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f46b45 0.01%,
    #eea849 99.48%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.achivement2 {
position: relative;
margin-left: 9%;
width:12%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 108.4%;
  /* or 35px */

  letter-spacing: 0.02em;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f46b45 0.01%,
    #eea849 99.48%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.achivement3{
position: relative;
margin-left: 12%;
width: 17%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 108.4%;
  /* or 35px */

  letter-spacing: 0.02em;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f46b45 0.01%,
    #eea849 99.48%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.achcontpara{
  display: flex;
  padding-left: 5%;
}
.achivement1p {
width: 15%;
height: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 108.4%;
  /* or 17px */

  letter-spacing: 0.02em;

  color: #ede4e4;
}
.achivement2p{
margin-left: 9%;
width: 15%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 108.4%;
  /* or 17px */

  letter-spacing: 0.02em;

  color: #ede4e4;
}
.achivement3p{
    /* 
width: 20%;
margin-left: 50%; */
/* position: relative;
padding-top: 3%;
margin-left: -13%;
width: 20%; */
margin-left:9%;
width: 18%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 108.4%;
  /* or 17px */

  letter-spacing: 0.02em;

  color: #ede4e4;
}



/* New CSS */

