.signin{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
  }
  .container{
    height: 100vh;
    background: #181B1F;
    color:white;
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  .metabtn{
    background: #24A0ED;
    padding: 10px;
    border-radius: 5px;

  }
  .para{
    word-wrap: break-word;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 137.4%;
/* or 22px */


color: #FFFFFF;
  }
  .btncon{
    margin-top: 15px;
  }
  .wallet{
    color: #FF7722;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 137.4%;
/* or 22px */
  }