@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Otomanopee+One&display=swap");


.tcs {
  position: absolute;
  width: 451px;
  height: 30px;
  left: 477.5px;
  top: 3414px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 108.4%;
  /* or 30px */

  letter-spacing: 0.02em;

  color: #ffffff;
}
.tcs a {
  color: #ff7722;
}
.box1 {
  box-sizing: border-box;

  position: absolute;
  width: 321.89px;
  height: 276.62px;
  left: 29px;
  top: 3485px;

  background: #000000;
  border: 0.5px solid #999999;
  border-radius: 10px;
}
.collname {
  position: absolute;
  width: 157px;
  height: 19px;
  left: 85px;
  top: 190px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 137.4%;

  color: #ffffff;
}
.amount {
  position: absolute;
  width: 71px;
  height: 16px;
  left: 110px;
  text-align: center;
  top: 210px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 137.4%;

  color: #ffffff;
}
.box1 img {
  position: absolute;
  width: 321.89px;
  height: 170px;
  background: url(../images/tc1.png), #ffffff;
  border-radius: 10px 10px 10px 10px;
}
.box1 span {
  box-sizing: border-box;
  position: absolute;
  width: 74.44px;
  height: 74.44px;
  left: 123px;
  top: 120px;
  background: url(../images/tc1_1.png);
}
.box2 {
  box-sizing: border-box;

  position: absolute;
  width: 321.89px;
  height: 276.62px;
  left: 379px;
  top: 3485px;

  background: #000000;
  border: 0.5px solid #999999;
  border-radius: 10px;
}
.box2 img {
  position: absolute;
  width: 321.89px;
  height: 178.04px;

  background: url(../images/tc2.png), #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.box2 span {
  box-sizing: border-box;
  position: absolute;
  width: 74.44px;
  height: 74.44px;
  left: 123px;
  top: 120px;
  background: url(../images/tc2_1.png);
}
.box3 {
  box-sizing: border-box;

  position: absolute;
  width: 321.89px;
  height: 276.62px;
  left: 723px;
  top: 3485px;

  background: #000000;
  border: 0.5px solid #999999;
  border-radius: 10px;
}
.box3 img {
  position: absolute;
  width: 321.89px;
  height: 178.04px;

  background: url(../images/tc3.png), #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.box3 span {
  box-sizing: border-box;
  position: absolute;
  width: 74.44px;
  height: 74.44px;
  left: 123px;
  top: 120px;
  background: url(../images/tc3_1.png);
}
.box4 {
  box-sizing: border-box;

  position: absolute;
  width: 321.89px;
  height: 276.62px;
  left: 1071.61px;
  top: 3485px;

  background: #000000;
  border: 0.5px solid #999999;

  border-radius: 10px;
}
.box4 img {
  position: absolute;
  width: 321.89px;
  height: 178.04px;

  background: url(../images/tc4.png), #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.box4 span {
  box-sizing: border-box;
  position: absolute;
  width: 74.44px;
  height: 74.44px;
  left: 123px;
  top: 120px;
  background: url(../images/tc4_1.png);
}
.box5 {
  box-sizing: border-box;

  position: absolute;
  width: 321.89px;
  height: 276.62px;
  left: 29px;
  top: 3807px;

  background: #000000;
  border: 0.5px solid #999999;
  border-radius: 10px;
}
.box5 img {
  position: absolute;
  width: 321.89px;
  height: 178.04px;

  background: url(../images/tc5.png), #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.box5 span {
  box-sizing: border-box;
  position: absolute;
  width: 74.44px;
  height: 74.44px;
  left: 123px;
  top: 120px;
  background: url(../images/tc5_1.png);
}
.box6 {
  box-sizing: border-box;

  position: absolute;
  width: 321.89px;
  height: 276.62px;
  left: 379px;
  top: 3807px;

  background: #000000;
  border: 0.5px solid #999999;
  border-radius: 10px;
}
.box6 img {
  position: absolute;
  width: 321.89px;
  height: 178.04px;

  background: url(../images/tc6.png), #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.box6 span {
  box-sizing: border-box;
  position: absolute;
  width: 74.44px;
  height: 74.44px;
  left: 123px;
  top: 120px;
  background: url(../images/tc6_1.png);
}
.box7 {
  box-sizing: border-box;

  position: absolute;
  width: 321.89px;
  height: 276.62px;
  left: 723px;
  top: 3807px;

  background: #000000;
  border: 0.5px solid #999999;
  border-radius: 10px;
}
.box7 img {
  position: absolute;
  width: 321.89px;
  height: 178.04px;

  background: url(../images/tc7.png), #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.box7 span {
  box-sizing: border-box;
  position: absolute;
  width: 74.44px;
  height: 74.44px;
  left: 123px;
  top: 120px;
  background: url(../images/tc7_1.png);
}
.box8 {
  box-sizing: border-box;

  position: absolute;
  width: 321.89px;
  height: 276.62px;
  left: 1072px;
  top: 3807px;

  background: #000000;
  border: 0.5px solid #999999;
  border-radius: 10px;
}
.box8 img {
  position: absolute;
  width: 321.89px;
  height: 178.04px;

  background: url(../images/tc8.png), #ffffff;
  border-radius: 10px 10px 0px 0px;
}
.box8 span {
  box-sizing: border-box;
  position: absolute;
  width: 74.44px;
  height: 74.44px;
  left: 123px;
  top: 120px;
  background: url(../images/tc8_1.png);
}
